<div class="random_participant" id="random_participant">
  <div class="participants" id="participants">
  </div>
  <div class="gift_to" id="gift_to">
  </div>
</div>

<%= javascript_tag do %>

  /*
    Short script to set the variables that will be used in the raffle.js file.
    Varaibale participants is created but not defined, so the default value is 'undefined'

    The variable is defined only if the current_user already saw who to give a gift, otherwise the variable keeps the 'undefined' value.
    This validation is to avoid that the raffle animation is executed each time the user enter to the page.
  */

  const random_participant_data = document.getElementById('random_participant')
  let participants;

  <% unless !@current_user.gift_to.nil? %>
    participants = '<%= @participants.shuffle.to_json.html_safe %>'
  <% end %>

  const gift_to_participant = document.getElementById('gift_to');
  let participant

  <% if @random_participant.instance_of?(Participant)%>
    participant = '<%= @random_participant.name %>';
  <% else %>
    participant = '<%= @random_participant %>';
    participants = undefined
    gift_to_participant.classList.add('error_raffle');
  <% end %>

<% end %>
