<div class="random_participant" id="random_participant" data-participants="<%= @participants.to_json %>">
  <div class="participants" id="participants">
  </div>
  <div class="gift_to">
  </div>
</div>
