.random_participant {
  min-width: 100px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.participants {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 5rem;
  flex-grow: 1;
  width: 80%;
  padding: 1rem;
  transition: 2s ease;

  div {
    margin: 5px;
    font-size: 1.1rem;
    color: rgb(40, 172, 90);
    font-weight: bolder;
    animation: raffle 0.6s infinite alternate;
  }
}

.gift_to {
  opacity: 0;
  transition: 1.3s ease;
  position: absolute;
  font-size: 1.8rem;
  background-color: rgba(193, 226, 245, 0.274);
  padding: 0.8rem;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 10px 12px -9px rgba(128, 128, 128, 0.295);
  text-align: center;
  font-weight: 800;
  color: rgb(20, 161, 243);
}

.error_raffle {
  background-color: #ecbfc9;
  color: #cc1039;
}

@keyframes raffle {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    transform: translate(-80%);
  }

  100% {
    opacity: 0;
    transform: rotate(180deg);
    transform: translate(80%);
  }
}
