.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 20rem;
  flex-grow: 1;
  gap: 5rem;
  z-index: 1;
}

.snow {
  position: absolute;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;

  &__snowflake {
    position: relative;
    background-color: rgba(206, 225, 241, 0.829);
    box-shadow: 1px 1px 3px 1px rgba(90, 90, 90, 0.247);
    border-radius: 50%;
    width: 100%;
    transform: translate(0,-20px);
    animation: snow linear infinite;

    &--small { min-width: 0.5rem; max-height: 0.5rem; }
    &--med { min-width: 0.8rem; max-height: 0.8rem; }
    &--big { min-width: 1.1rem; max-height: 1.1rem; }
  }
}

@keyframes snow {
  0% {
    transform: translate(0,-20px);
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    transform: translate(0, 90vh);
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1, h4 {
  text-align: center;
}

h1 {
  font-size: 2.2rem;
  color: crimson;
}

h4 {
  width: 77%;
  color:rgba(99, 173, 235, 0.959)
}
